/*-------------------------------------------------
SMACSS: BASE
-------------------------------------------------*/
body {
    background: #22272a;
    color: #ced9e0;
    font-family: $font-OpenSans;
}

a {
    color: #039;
}
a:hover {
    color: #03C;
}