/*-------------------------------------------------
SMACSS: LAYOUT - COMMON
-------------------------------------------------*/
header,
section,
footer {
  max-width: 800px;
  margin: 50px auto;
}

/*-------------------------------------------------
SMACSS: LAYOUT - HEADER
-------------------------------------------------*/
header {
    border-top: 2px solid #e85151;
    padding: 10px;
    color: #e85151;

    .title {
      font-size: em(30); // em to px convertor
    }

    .caption {
      padding-top: 10px;
      font-size: 14px;
    }
}

/*-------------------------------------------------
SMACSS: LAYOUT - SECTION
-------------------------------------------------*/
section {
  padding: 40px 20px;
  color: #fff;
  font-size: em(70);
  font-weight: 300;
}

/*-------------------------------------------------
SMACSS: LAYOUT - FOOTER
-------------------------------------------------*/
footer {
  color: #5A5F62;
  font-size: 11px;
  text-align: center;
  padding: 10px;
  width: 100%;

  a {
    color: #5A5F62;

    &:hover {
      color: #ced9e0;
    }
  }
}