/*-------------------------------------------------
SMACSS: VARIABLES
-------------------------------------------------*/
/* Colors */
$color-white: #fff;
$color-black: #000;
$color-red: #e85151;
$color-gray: #5A5F62;

/* Font */
$font-OpenSans: 'Open Sans', 'Arial', sans-serif;
