/*-------------------------------------------------
SMACSS: VARIABLES
-------------------------------------------------*/
/* Colors */
$color-white: #fff;
$color-black: #000;

/* Font */
$font-OpenSans: 'Open Sans', 'Arial', sans-serif;