/*-------------------------------------------------
SMACSS: VARIABLES
-------------------------------------------------*/
/* Colors */
$color-white: #fff;
$color-black: #000;

/* Font */
$font-ProximanovaLight: 'ProximanovaLight', 'Arial', sans-serif;